{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About Page</h1>
<p>
	This site was made by using:
	<ul>
		<li>Python 3.7</li>
		<li>Django 2.2</li>
		<li>PostgreSQL</li>
		<li>Docker</li>
		<li>Pipenv</li>
		<li>Virtualenv</li>
		<li>Django allauth</li>
		<li>HTML5</li>
		<li>Django template language</li>
		<li>CSS</li>
		<li>Bootstrap4</li>
		<li>Django crispy forms</li>
		<li>Stripe (<i>works in test mode</i>)</li>
		<li>Debug toolbar</li>
		<li>White Noise - serving static files</li>
		<li>Gunicorn</li>
		<li>Nginx</li>
		<li>AWS</li>
	</ul>
</p>
{% endblock content %}
